<div class="side-nav">

  <nav class="nav flex-column text-left nav-pills nav-justified position-sticky bg-info">
    <h2 style="text-align: center">take a tour</h2>
    <hr>
    <a class="nav-link btn btn-lg btn-info" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
    <a class="nav-link btn btn-lg btn-info" routerLink="item" routerLinkActive="active">Item</a>
    <a class="nav-link btn btn-lg btn-info" routerLink="stock" routerLinkActive="active">Stock</a>
    <a class="nav-link btn btn-lg btn-info" routerLink="stakeholder" routerLinkActive="active">Stake Holder</a>
    <a class="nav-link btn btn-lg btn-info" routerLink="invoice" routerLinkActive="active">Invoice</a>
    <a class="nav-link btn btn-lg btn-info" routerLink="report" routerLinkActive="active">Report</a>
    <!-- <a class="nav-link btn btn-lg btn-info" routerLink="contact" routerLinkActive="active">Contacts</a> -->
    <!-- <a class="nav-link btn btn-lg btn-info" routerLink="more" routerLinkActive="active">More...</a> -->
    <a class="nav-link btn btn-lg btn-info" routerLink="child" routerLinkActive="active">Child</a>
  </nav>

</div>