<nav id="sac" class="navbar navbar-light bg-dark fixed-top">

  <a class="navbar-brand" style="color: white">
    <img style="width:30px;height:30px;" src="../../assets/images/logo.png" class="img-avatar"
      alt="admin@bootstrapmaster.com" />
    Inventory Management System</a>

  <div class="">
    <button class="btn btn-sm btn-warning" id="head-btn" routerLink="/register" routerLinkActive="active"
      >Register</button>
    <button class="btn btn-sm btn-info" id="head-btn" routerLink="/login" routerLinkActive="active">Login</button>
    <button hidden class="btn btn-sm btn-danger"  id="head-btn" 
    >Log out</button>
    <button class="btn btn-sm" id="head-btn">
        <img class="img-avatar" id="head-btn" style="width:30px;height:30px;" 
        src="../../assets/images/profile.png"
          alt="admin@bootstrapmaster.com" />
    </button>

  </div>

  <!-- <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
</nav>